---
import Main from '../components/Main.astro';
import H1 from '../components/H1.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title="About Rythm Notion Blog">
    <Main>
        <H1 text='About Rythm Notion Blog' />
    </Main>
</Layout>

